<div class="footer wrapper">
    <p><img src="/images/csm-bob.webp"></p> 
    <nav class="nav">
        <div>{{ with .Site.Copyright }} {{ . }} | {{ end }} 
            {{- if isset .Site.Params "icplicense" -}}
            <a href="https://www.beian.miit.gov.cn">{{ .Site.Params.icpLicense }}</a>
            {{ end -}}
        </div>
        <div>
          友情链接：<a href = "https://agile123.net/">Agile123</a> | <a href = "https://www.agileplus.co/">敏捷家</a> | <a href = "https://hiblock.net">HiBlock</a> | <a href = "https://scrumtraining.cn/">Scrum培训</a> | <a href = "https://scrumgatheringchina.com/">RSG China</a> | <a href = "https://essentialscrum.cn/">Scrum精髓</a> | <a href = "https://www.jackyshen.com">Jacky Shen</a> | <a href = "https://impactmapping.cn/">影响地图</a>
        </div>
    </nav>
</div>

<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/bobjiang" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/bobjiang', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">邮件订阅Bob Jiang的更新</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>

{{- with .Site.Params.Social -}}
<script>feather.replace();
       (function () {
               if (window.location.href.endsWith('about.html') ||
                       window.location.href.endsWith('posts.html') ||
                       window.location.href.endsWith('localhost:1313/')) {
                       return false;
               };
       })();
</script>
{{- end -}}
{{- partial "busuanzi.html" . -}}
